.UserDialog-wrapper {
    /* 全屏 */
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    /* 内容居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.UserDialog {
    border: 1px solid #aaa;
    border-radius: 4px;
    min-width: 20em;
    background: #fff;
}